<!DOCTYPE html>
<html>
	<head>

		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="/css/main.css">
		{{#each css}}
			<link rel="stylesheet" href="/css/{{this}}">
		{{/each}}
		<script src="/js/lib/jquery.min.js"></script>
		<script src="/js/lib/pixi-legacy.js"></script>
		{{#each specialHeadData}}
			{{{this}}}
		{{/each}}

	</head>
	<body>

		<nav id="navbar">
			<div id="logo">STEVE SMART</div>

			<ul class="navlinks">
				<li class="hover-link {{#if index}}active-link{{/if}}"><a class="home-link" href="/">HOME</a></li>
				<li class="hover-link {{#if about}}active-link{{/if}}"><a class="about-link" href="/about">ABOUT</a></li>
				<li class="hover-link {{#if resume}}active-link{{/if}}"><a class="resume-link" href="/resume">RESUME</a></li>
				<li class="hover-link {{#if contact}}active-link{{/if}}"><a class="contact-link" href="/contact">CONTACT</a></li>
			</ul>

			<div id="hamburger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>

		{{{ body }}}

		<script src="/js/main.js"></script>
		{{#each js}}
			<script src="/js/{{this}}"></script>
		{{/each}}

	</body>
</html>
